{# Props: background, padding, content, custom_style #}
{% set background = background|default('#ffffff') %}
{% set padding = padding|default('30px') %}
{% set content = content|default('') %}
{% set custom_style = custom_style|default('') %}

<table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Roboto', sans-serif; margin: 0; border-radius: 7px; border: 1px solid #e9ebec; {{ custom_style }}">
  <tr>
    <td style="font-family: 'Roboto', sans-serif; padding: {{ padding }}; background-color: {{ background }}; border-radius: 7px;">
      {{ content|raw }}
    </td>
  </tr>
</table>
