{# Props: url, label, color, custom_style #}
{% set url = url|default('#') %}
{% set label = label|default(url) %}
{% set color = color|default('#4b38b3') %}
{% set custom_style = custom_style|default('') %}

<a href="{{ url }}" target="_blank" style="font-family: 'Roboto', sans-serif; color: {{ color }}; text-decoration: underline; font-size: 14px; {{ custom_style }}">{{ label }}</a>
