.layout-wrapper.landing {
  min-height: 100vh;
  height: auto;
}

.landing .navbar .navbar-toggler {
  border: none;
  outline: 0;
  i {
    font-size: 30px;
  }
  &:focus {
    border: none;
    outline: 0;
    box-shadow: none;
  }
}

[type=email], [type=number], [type=tel], [type=url] {
    direction: ltr;
}

.page-title-box .breadcrumb {
  margin-block-end: 0;
}

.form-group {
  margin-block-end: 1rem;
}
