{#
  Template d'email de réinitialisation de mot de passe
  
  Variables requises:
    - user: Objet utilisateur avec les propriétés firstname
    - reset_url: URL de réinitialisation du mot de passe
    - expires_in: Durée de validité du lien (ex: "1 heure")
#}
{% extends 'layouts/email.html.twig' %}

{% set subject = 'Réinitialisation de votre mot de passe' %}
{% set preheader = 'Vous avez demandé une réinitialisation de mot de passe' %}

{% block content %}
  {# Titre principal #}
  {% include 'emails/components/_text.html.twig' with {
    level: 'h1',
    content: 'Réinitialisation de mot de passe',
    color: '#212529',
  } %}

  {# Texte d'introduction #}
  {% include 'emails/components/_text.html.twig' with {
    level: 'p',
    content: 'Bonjour ' ~ user.username ~ ',',
    color: '#495057'
  } %}

  {% include 'emails/components/_text.html.twig' with {
    level: 'p',
    content: 'Vous avez demandé la réinitialisation de votre mot de passe. Cliquez sur le bouton ci-dessous pour en créer un nouveau :',
    color: '#495057'
  } %}

  {# Bouton de réinitialisation #}
  {% include 'emails/components/_button.html.twig' with {
    url: reset_url,
    label: 'Réinitialiser mon mot de passe',
    custom_style: 'margin: 10px auto;'
  } %}

  {# Alerte d'expiration #}
  {% include 'emails/components/_alert.html.twig' with {
    type: 'warning',
    title: 'Lien à durée limitée',
    content: 'Ce lien expire dans <strong>' ~ (expires_in|default('1 heure')) ~ '</strong>. Passé ce délai, vous devrez faire une nouvelle demande.'
  } %}

  {% include 'emails/components/_divider.html.twig' %}

  {# Alerte de sécurité #}
  {% include 'emails/components/_alert.html.twig' with {
    type: 'danger',
    title: 'Vous n\'avez pas fait cette demande ?',
    content: 'Si vous n\'êtes pas à l\'origine de cette demande, ignorez simplement cet email. Votre mot de passe actuel restera inchangé et votre compte est en sécurité.',
    custom_style: 'margin-bottom: 10px;'
  } %}

  {# Lien alternatif #}
  {% include 'emails/components/_card.html.twig' with {
    content: '
      <p style="margin: 0 0 10px 0; font-size: 13px; color: #6c757d;">
        Si le bouton ne fonctionne pas, copiez et collez ce lien dans votre navigateur :
      </p>
      <p style="margin: 0; font-size: 12px; word-break: break-all;">
        <a href="' ~ reset_url ~ '" style="color: #0066ff;">' ~ reset_url ~ '</a>
      </p>
    ',
    custom_style: 'margin: 10px auto;'
  } %}

  {# Message de fin #}
  {% include 'emails/components/_text.html.twig' with {
    level: 'p',
    content: 'Cordialement,<br><strong>L\'équipe ' ~ app_name ~ '</strong>',
    color: '#495057'
  } %}
{% endblock %}
